@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1500px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1;
  background-color: #050203;
}
header .headbox {
  display: flex;
  justify-content: space-between;
}
header .headbox .headicon {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
header .headbox .headicon li a {
  color: #F5F5F5;
  font-size: 20px;
}
header .headbox .calender {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .headbox .calender .date span {
  color: #F5F5F5;
}
header .headbox .calender #timing {
  color: #F5F5F5;
}
header .headbox .headcall {
  color: #F5F5F5;
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

nav {
  padding: 0 !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed !important;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 5;
}
nav .nav-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .nav-box .navbar-brand {
  width: 50%;
}
nav .nav-box .navbar-brand svg {
  width: 250px;
}
nav .nav-box .navbar-brand svg text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2px;
  stroke: #365fa0;
  font-size: 140px;
  font-weight: 900;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: #EFB11D;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2px;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: #EFB11D;
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: #EFB11D;
    stroke-width: 3px;
  }
  100% {
    fill: #EFB11D;
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0px;
  }
}
nav .nav-box .navigation {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  position: relative;
  overflow: hidden;
}
nav .nav-box .navigation .navlist {
  display: flex;
  justify-content: end;
  gap: 20px;
  position: absolute;
  top: 30%;
  right: 10%;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  width: 0%;
  overflow: hidden;
}
nav .nav-box .navigation .navlist li a {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  color: #F5F5F5;
}
nav .nav-box .navigation .navbtnbox {
  width: 5%;
  height: 30px;
  border: none;
}
nav .nav-box .navigation .navbtnbox:hover {
  cursor: pointer;
}
nav .nav-box .navigation .navbtnbox .navbtn {
  width: 100%;
  height: 10%;
  background-color: #EFB11D;
  border: none;
  position: relative;
}
nav .nav-box .navigation .navbtnbox .navbtn::after {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #F5F5F5;
  position: absolute;
  top: -10px;
  left: 0;
}
nav .nav-box .navigation .navbtnbox .navbtn::before {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #F5F5F5;
  position: absolute;
  top: 10px;
  right: 0;
}
nav .nav-box .navigation .show {
  width: 95%;
}

#banner {
  position: relative;
}
#banner .bnr-video {
  position: absolute;
  width: 100%;
}
#banner .bnr-video::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
#banner .bnr-video video {
  width: 100%;
}
#banner .bnr-main {
  padding-top: 200px;
  position: sticky;
}
#banner .bnr-main .hello {
  color: #F5F5F5;
  font-size: 20px;
  font-weight: 700;
}
#banner .bnr-main h1 {
  margin-top: 30px;
  font-size: 50px;
  color: #EFB11D;
}
#banner .bnr-main h1 span {
  font-size: 30px;
  color: #F5F5F5;
  position: relative;
}
#banner .bnr-main h1 span::after {
  font-family: "Font Awesome 5 Free";
  content: "\f303";
  font-weight: 900;
  font-size: 20px;
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */