@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
body {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1500px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1;
}
header .headbox {
  display: flex;
  justify-content: space-between;
}
header .headbox .headicon {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
header .headbox .headicon li a {
  color: #F5F5F5;
  font-size: 20px;
}
header .headbox .calender {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .headbox .calender .date span {
  color: #F5F5F5;
}
header .headbox .calender #timing {
  color: #F5F5F5;
}
header .headbox .headcall {
  color: #F5F5F5;
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

nav {
  padding: 10px 0 !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed !important;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 5;
}
nav .nav-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-box .navbar-brand {
  position: relative;
  font-family: "Merienda", cursive;
  font-weight: 900;
  font-size: 30px;
  color: #F5F5F5;
  padding-right: 5px;
}
nav .nav-box .navbar-brand::before {
  top: 3px;
  left: 0;
  width: 0;
  height: 100%;
  color: #84EFA7;
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  border-right: 2px solid #84EFA7;
  -webkit-text-stroke: 0vw #F5F5F5;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}
nav .nav-box .navigation {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  position: relative;
  overflow: hidden;
}
nav .nav-box .navigation .navlist {
  display: flex;
  justify-content: end;
  gap: 20px;
  position: absolute;
  top: 15%;
  right: 10%;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  width: 0%;
  overflow: hidden;
}
nav .nav-box .navigation .navlist li a {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  color: #F5F5F5;
  transition: 0.6s;
}
nav .nav-box .navigation .navlist li a:hover {
  color: #84EFA7;
}
nav .nav-box .navigation .navbtnbox {
  width: 5%;
  height: 30px;
  border: none;
}
nav .nav-box .navigation .navbtnbox:hover {
  cursor: pointer;
}
nav .nav-box .navigation .navbtnbox .navbtn {
  width: 100%;
  height: 10%;
  background-color: #84EFA7;
  border: none;
  position: relative;
}
nav .nav-box .navigation .navbtnbox .navbtn::after {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #F5F5F5;
  position: absolute;
  top: -10px;
  left: 0;
}
nav .nav-box .navigation .navbtnbox .navbtn::before {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #F5F5F5;
  position: absolute;
  top: 10px;
  right: 0;
}
nav .nav-box .navigation .show {
  width: 95%;
}

.navfixed {
  position: fixed;
  top: 0;
  left: 0;
  animation: navfixed 1s linear;
}
@keyframes navfixed {
  0% {
    top: -50px;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

#banner {
  position: relative;
}
#banner .bnr-video {
  position: absolute;
  width: 100%;
}
#banner .bnr-video::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
#banner .bnr-video video {
  width: 100%;
}
#banner .bnr-main {
  padding-top: 35%;
  position: sticky;
  margin-left: 25%;
}
#banner .bnr-main .hello {
  color: #F5F5F5;
  font-size: 20px;
  font-weight: 700;
}
#banner .bnr-main h1 {
  margin-top: 15px;
  font-size: 50px;
  color: #84EFA7;
}
#banner .bnr-main h1 .name {
  font-size: 35px;
  color: #F5F5F5;
}
#banner .bnr-main h1 .typing {
  display: block;
  font-size: 30px;
  color: #F5F5F5;
  position: relative;
}
#banner .bnr-main h1 .typing::after {
  font-family: "Font Awesome 5 Free";
  content: "\f303";
  font-weight: 900;
  font-size: 20px;
  margin-left: 10px;
}
#banner .bnr-main .bnr-button {
  margin-top: 100px;
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
#banner .bnr-main .bnr-button a {
  color: #33372C;
  padding: 10px 30px;
  background: #F5F5F5;
  border-radius: 0 20px 0 20px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  transition: 0.4s;
  overflow: hidden;
  z-index: 1;
}
#banner .bnr-main .bnr-button a::after {
  content: "";
  width: 0%;
  height: 100%;
  background: #84EFA7;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
  z-index: -1;
}
#banner .bnr-main .bnr-button a::before {
  content: "";
  width: 0%;
  height: 100%;
  background: #84EFA7;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.4s;
  z-index: -1;
}
#banner .bnr-main .bnr-button a:hover::after {
  width: 50%;
  height: 100%;
}
#banner .bnr-main .bnr-button a:hover::before {
  width: 50%;
  height: 100%;
}
#banner .bnr-main .bnr-button a:last-child {
  color: #33372C;
  padding: 10px 30px;
  background: #F5F5F5;
  border-radius: 0 20px 0 20px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  transition: 0.4s;
  overflow: hidden;
  z-index: 1;
}
#banner .bnr-main .bnr-button a:last-child::after {
  content: "";
  width: 100%;
  height: 0%;
  background: #84EFA7;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
  z-index: -1;
}
#banner .bnr-main .bnr-button a:last-child::before {
  content: "";
  width: 100%;
  height: 0%;
  background: #84EFA7;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.4s;
  z-index: -1;
}
#banner .bnr-main .bnr-button a:last-child:hover::after {
  width: 100%;
  height: 50%;
}
#banner .bnr-main .bnr-button a:last-child:hover::before {
  width: 100%;
  height: 50%;
}/*# sourceMappingURL=style.css.map */